/* NavBar Content */
.right {
    float: right;
}

.left {
    float: left;
}

#nav {
    display: block;
    background-color: white;
    display: inline-block;
    width: 95vw;
    border: 3px dotted rgb(129, 131, 250);
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.highscoreLink {
    text-decoration: none;
    color: black;
}
.highscoreLink:hover {
    text-decoration: underline;
}

/* Main Content */

body {
    background-color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    justify-content: center;
    align-items: center;
    margin: auto;
}

#container {
    width: 700px;
    background-color:white;
    border-radius: 5px;
    padding: auto;
    box-shadow: 0 0 10px 2px;
    margin: auto;
}
#quizBody {
    text-align: center;
    justify-content: center;
    padding: 12vh;
    margin-top: 20px;
    padding: auto;
}
button {
    border: none;
    background-color:white;
    color: black;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 15px 15px 15px 15px;
}

button:hover {
    transition-duration: 0.4s;
    background-color:blueviolet;
}

h1 {
    font-weight: 100;
}

h3 {
    font-weight: 75;
}

Footer


